{% extends "layout.html" %}
{% block content %}
<style>
   body{
    /*background-image: url( {{ url_for('static', filename='background.png') }} );*/
    background-color: linear-gradient(to bottom right, blue, pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
   }
</style>

<div class="container-fluid caption text-center">
    <h1>Definition of Religion</h1>
</div>
<div class="container-fluid text-center" style="color: white; position: absolute; top: 50%; padding-left: 5%; padding-right: 5%;">
    <p class="pb-2">
        Emile Durkheim defines religion to be a unified system of beliefs and practices relative to sacred things, both physical and emotional which unite into one single moral community.
    </p>
    <p class="pb-2">
        Durkheim’s definition of religion plays a key role in the claim that Hindu and Jewish rituals both focus on creating an emotional connection with the divine as well as helping connect people with their respective religious communities. 
    </p>
    <p>
        Rituals are a key part of this unified system of beliefs and practices, in which Durkheim believes to be the basis of religion. Durkheim talks about how these beliefs and practices have both an emotional and physical aspect to them, which helps people connect with their religious communities. This directly relates back to the claim in which the point being made is that rituals help to create an emotional connection with the divine and connect religion communities together. 
    </p> 
</div>

<div class="container-fluid caption text-center" style="top: 85%;">
    <h1>Works Cited</h1>
</div>

<div class="container-fluid text-center" style="color: white; position: absolute; top: 100%; padding-left: 5%; padding-right: 5%;">
    <p class="pt-2">
        - David, Ann R. “Embodied Traditions: Gujarati (Dance) Practices of Garba and Raas in the UK
    </p>
    <p>
        Context.” SpringerLink, Palgrave Macmillan, London, 1 Jan. 1970,
    </p>
    <p>
        link.springer.com/chapter/10.1057/9781137009449_2
    </p>
    <p class="pt-2">
        - “Garba.” Encyclopædia Britannica, Encyclopædia Britannica, Inc., 
    </p>
    <p>
        www.britannica.com/art/garba
    </p>
    <p class="pt-2">
        - “Puja.” Encyclopædia Britannica, Encyclopædia Britannica, Inc., 
    </p>
    <p>
        www.britannica.com/topic/puja
    </p>  
    <p class="pt-2">
        - Berkley Center for Religion, Peace and World Affairs. “Puja.” Berkley Center For Religion,
    </p>
    <p>
        Peace and World Affairs, berkleycenter.georgetown.edu/essays/puja
    </p>
    <p class="pt-2">
        - “Significance of the Bar & Bat Mitzvah.” Chabad of Port Washington, 13 Aug. 2006,
    </p>
    <p>
        www.chabadpw.org/templates/articlecco_cdo/aid/412807/jewish/Significance-of-the-Bar-Bat-Mitzvah.htm
    </p>
    <p class="pt-2">
        - Schoenfeld, Stuart. “FOLK JUDAISM, ELITE JUDAISM AND THE ROLE OF BAR
    </p>
    <p>
        MITZVAH IN THE DEVELOPMENT OF THE SYNAGOGUE AND JEWISH SCHOOL
    </p>
    <p>
        IN AMERICA.” Contemporary Jewry, vol. 9, no. 1, 1987, pp. 67–85. JSTOR,
    </p>
    <p>
        www.jstor.org/stable/23449977. Accessed 6 Nov. 2020.
    </p>
    <p class="pt-2">
        - Packouz, Rabbi Kalman. “Why Kosher?” Aishcom, www.aish.com/jl/m/mm/48945306.html
    </p>   
</div>

{% endblock content %}