{% extends "layout.html" %}
{% block content %}
<style>
    body{
        background-image: url( {{ url_for('static', filename='background.png') }} );
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>


<div class="caption text-center">
    <h1>REL/PHIL 110 Final Project</h1>
    <h3>Thesis:</h3>
    <div class="container">
        <h6>Despite the fact that Hindu and Jewish rituals have many differences, both focus on creating an emotional connection with the divine as well as helping connect people with their respective religious communities.</h6>
    </div> 
    <a class="btn btn-outline-light btn-lg" href="{{ url_for('rel1') }}">Hinduism</a>
    <a class="btn btn-outline-light btn-lg" href="{{ url_for('defn') }}">Definition</a>
    <a class="btn btn-outline-light btn-lg" href="{{ url_for('rel2') }}">Judaism</a>
</div>

{% endblock content %}