{% extends "layout.html" %}
{% block content %}
<div class="container-fluid pt-5 text-center re1">
    <h1 class="rel1">Hinduism</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <p>hey</p>
            </div>
            <div class="col-6">
                <p>hey more stuff</p>
            </div>
        </div>
    </div>
    
    <div class="container-fluid ">
        <div class="row">
            <div class="col-6">
                <p>hey</p>
            </div>
            <div class="col-6">
                <p>hey</p>
            </div>
        </div>
    
    </div>
</div>



{% endblock content %}