{% extends "layout.html" %}
{% block content %}
<h1 class="text-center" style="width: 100%; max-width: 100%; top: 15%; position: absolute;">Hinduism</h1>
<div style="top: 25%; position:absolute;">

    <div class="container-fluid">
        <div class="row pt-1">
            <div class="col text-center">
                <h2>Garba</h2>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col text-center" style="padding-left: 5%; padding-right: 5%;">
                <p>
                    Garba is a type of Indian dance that is commonly performed at festivals and special occasions. It is a dance that involves moving from side to side as the dancer traces a larger circular pattern with other people. Garba celebrates womanhood and pays respect to many mother goddesses.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="{{ url_for('static', filename='garba1.png') }}" alt="Garba" height="360" width="720">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col text-center" style="padding-left: 5%; padding-right: 5%;">
                <p>                
                    The most prominent time that Hindus perform Garba is during the nine-day long Navratri festival. During this nine-day festival, large groups of Hindus will gather in halls, gymnasiums, and other spacious areas to participate in Garba together. These get-togethers happen in Hindu communities in a multitude of countries around the world. Garba allows Hindus to come together with their religious community in order to participate in a ritual that is special to them. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="{{ url_for('static', filename='garba2.png') }}" alt="Garba" height="360" width="540">
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col text-center">
                <h2>Puja</h2>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col text-center" style="padding-left: 5%; padding-right: 5%;">
                <p>
                    Puja is a term that is used to describe a variety of Hindu rituals in which offerings are made to a deity, or the divine. These rituals can either occur in a variety of settings such as a Temple through the use of a priest or even in your own home. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="{{ url_for('static', filename='puja1.png') }}" alt="Puja" height="360" width="540">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col text-center" style="padding-left: 5%; padding-right: 5%;">
                <p>
                    Puja usually involves offering fruit or flowers to an image or a miniature statue of god. Although there are many forms of Puja that can take place, it’s main purpose is to be used as a means to worship God. Puja is a ritual that allows Hindus to create an emotional connection with the divine. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center pb-1">
                <img src="{{ url_for('static', filename='puja2.png') }}" alt="Puja" height="360" width="540">
            </div>
        </div>
    
    </div>
</div>
{% endblock content %}