{% extends "layout.html" %}
{% block content %}
<h1 class="text-center" style="width: 100%; max-width: 100%; top: 15%; position: absolute;">Judaism</h1>
<div style="top: 25%; position:absolute;">

    <div class="container-fluid">
        <div class="row  pt-1">
            <div class="col text-center">
                <h2>Bar/Bat Mitzvah</h2>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col text-center" style="padding-left: 5%; padding-right: 5%;">
                <p>
                    Bar Mitzvah is a Jewish ritual that signifies a coming of age for boys, while Bat Mitzvah signifies a coming of age for girls. Both celebrate the progression of maturity of a boy or a girl in regards to his/her Jewish identity as well as his/her connection to the Torah and Mitzvot. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="{{ url_for('static', filename='bat.png') }}" alt="Bar/Bat Mitzvah" height="360" width="720">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col text-center" style="padding-left: 5%; padding-right: 5%;">
                <p>                
                    The ritual of Bar/Bat Mitzvah also is known for bringing together Jewish communities. These celebrations oftentimes bring together large groups of people that include family, friends, and religious acquaintances. They help to create an environment in which Jewish people can come together to celebrate the coming of age for a loved one. 
 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="{{ url_for('static', filename='bar.png') }}" alt="Bar/Bat Mitzvah" height="360" width="540">
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col text-center" style="float: left;">
                <h2>Kosher Diet</h2>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col text-center" style="padding-left: 5%; padding-right: 5%;">
                <p>
                    Kosher diet involves any food or beverage that Jewish dietary laws allow a person to eat. These dietary laws are rooted in both religion and history, and each law is very specific as to what types of food are allowed to be eaten and what is not. Some of these rules can be seen in the image below.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <img src="{{ url_for('static', filename='kosher1.png') }}" alt="Kosher Diet" height="360" width="540">
            </div>
        </div>
        <div class="row pt-5">
            <div class="col text-center" style="padding-left: 5%; padding-right: 5%;">
                <p>
                    The premise of the Kosher diet revolves around the fact that Kosher is God’s diet for spirituality. The Torah prescribes the Kosher, or holy, diet for the holy people that follow Judaism. It teaches that food that is not Kosher blocks the spiritual potential of the soul. At its essence, the Kosher diet is a ritual that is used to strengthen an emotional connection with the divine in Judaism. 
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}